---
title: PCF v1.12 Feature Highlights
---

<html class="list-style-none"></html>

This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v1.12.

## <a id='om'></a>Ops Manager Highlights

Ops Manager v1.12 includes the following major features:

## <a id='ert'></a>Elastic Runtime Highlights

Elastic Runtime v1.12 includes the following major features:

## <a id='apps-man'></a>Apps Manager Highlights

Apps Manager v1.12 includes the following features:

## <a id='pcf-is'></a>PCF Isolation Segment Highlights

The PCF Isolation Segment v1.12 tile includes the following features:

## <a id='cross'></a>Cross-platform Highlights

## <a id='services'></a>Services Highlights


