---
title: PCF v1.12 Feature Highlights
---

<html class="list-style-none"></html>

This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v1.12.

## <a id='om'></a>Ops Manager Highlights

Ops Manager v1.12 includes the following major features:

### <a id='google-xpn'></a>Google Shared Virtual Private Cloud

Google Shared Virtual Private Cloud (VPC), formerly known as Google Cross-Project Networking (XPN), enables you to assign GCP resources
to individual projects within an organization but allows communication and shared services between projects.
For more information about this feature, see the [Configuring a Shared VPC on GCP](../customizing/gcp-shared-vpc.html) topic.

### <a id='credhub-migration'></a>Migrate Non-Configurable Secrets to CredHub

Tile Authors can write a JavaScript migration to move their existing non-configurable secrets into CredHub.
Ops Manager v1.12 supports migrating `secret`, `simple_credential`, and `rsa_pkey_credential` types.
For more information about this feature, see the [Migrating Existing Credentials to CredHub](https://docs.pivotal.io/tiledev/migrating-credhub-credentials.html)
topic in the PCF Tile Developers Guide.

## <a id='ert'></a>Elastic Runtime Highlights

Elastic Runtime v1.12 includes the following major features:

## <a id='apps-man'></a>Apps Manager Highlights

Apps Manager v1.12 includes the following features:

## <a id='pcf-is'></a>PCF Isolation Segment Highlights

The PCF Isolation Segment v1.12 tile includes the following features:

## <a id='cross'></a>Cross-platform Highlights

## <a id='services'></a>Services Highlights


