---
title: PCF v2.3 Feature Highlights
---

<html class="list-style-none"></html>

This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v2.3.


## <a id='om'></a> PCF Operations Manager (Ops Manager) Highlights

Ops Manager v2.3 includes the following major features:

None at this time.

---

## <a id='ert'></a> Pivotal Application Service (PAS) Highlights

None at this time.

---

## <a id='apps-man'></a> Apps Manager Highlights

None at this time.

---

## <a id='pcf-is'></a> PCF Isolation Segment Highlights

None at this time.