,---
title: PCF v2.4 Feature Highlights
---


This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v2.4.




## <a id='om'></a> PCF Operations Manager (Ops Manager) Highlights

Ops Manager v2.4 includes the following major features:

### <a id='credhub-ga'></a> Runtime Credhub Is GA

Credhub is now enabled by default in the PAS tile. You can scale the number of CredHub instances in the Resource Config pane. In PAS v2.4, the number of CredHub instances defaults to 2.

For more information on CredHub see, 

---

## <a id='ert'></a> Pivotal Application Service (PAS) Highlights

PAS v2.4 includes the following major features:

### <a id="log-api"></a> Loggregator v2 API is Readable Through RLP Gateway

As a nozzle developer, you can access the Loggregator v2 API through a Reverse Log Proxy (RLP) gateway. You
do not need to manage mutual TLS to access the v2 API.

The Loggregator v2 API supports additional features, including selector-based subscription
models. For more information about that feature, see [Selector-Based Subscripton Model and
Reference
Nozzles](https://docs.pivotal.io/pivotalcf/2-2/pcf-release-notes/runtime-rn.html#selector-based)
in the PAS v2.2 release notes.

### <a id='cflinuxfs3'></a> PAS Uses cflinuxfs3 by Default

PAS v2.4 uses `cflinuxfs3` stack and related buildpacks by default on new installs. Buildpacks have the same name but with a different stack.

For more information, see the [PAS v2.4 Release Notes](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/runtime-rn.html#cflinuxfs3s)


---

## <a id='pas-windows'></a> PAS for Windows Highlights

PAS for Windows v2.4 includes the following major features:

### <a id='overcommit'></a> Memory and Disk Overcommit for Diego Cells

You can now enable memory and disk overcommit for Diego cells.
If you want to configure this feature, use the Cell Memory Capacity (MB) and Cell Disk Capacity (MB) fields on the Advanced Features pane of the PAS for Windows tile.
For more information on this feature, see the [Configure the Tile](https://docs.pivotal.io/pivotalcf/2-4/windows/installing.html#config) section of Installing and Configuring PAS for Windows.


### <a id='identify-metrics'></a> Uniquely Identify Metrics from PAS for Windows

Metrics emitted from PAS for Windows are now tagged with the BOSH deployment name of your PAS for Windows tile. For example, `pas-windows-GUID`. With a GUID, you can uniquely identify your metrics by tile. In PAS for Windows v2.3 and earlier, metrics use the `cf` tag as the deployment name.

This feature is enabled by default in new deployments of PAS for Windows v2.4. However, for upgrades to PAS for Windows v2.4, the feature is disabled by default. 

For more information on this feature, see the [PAS for Windows Release Notes](https://docs-pcf-staging.cfapps.io/pivotalcf/2-4/pcf-release-notes/windows-rn.html).





---

## <a id='apps-man'></a> Apps Manager Highlights

Apps Manager v2.4 includes the following major feature:

### <a id="global-search"></a> Global Search in Apps Manager

Apps Manager has a global searchbar persistent on every Apps Manager page. With the global
searchbar, you can search org name, space name, service instance name, and app names without
leaving the page.


### <a id="restage-apps"></a> Restage Apps in Apps Manager

Apps Manager includes a restage button. The button is in addition to the stop and
start buttons on the app management page. Restaging your application stops your
app and restages it by compiling a new droplet and starting it.

For more information about the restage button in the Apps Manager UI, see [Start, Stop, or Restage an App
](https://docs.pivotal.io/pivotalcf/2-4/console/manage-apps.html#start-stop).


### <a id="share-service-instance"></a> Share Service Instances in Apps Manager

You can share service
instances across the spaces you specify. With Space Developer permissions, you
can view, add, and remove service instance sharing.

For more information, see [Service Instance Sharing](../console/manage-apps.html#shared-instances).

---

## <a id='bbr'></a> BOSH Backup and Restore Highlights

BOSH Backup and Restore (BBR) in PAS v2.4 includes the following major features:

None yet.




---

## <a id='loggregator'></a> Loggregator Highlights

Loggregator v2.4 includes the following major feature:

None yet.




---

## <a id='pcf-is'></a> PCF Isolation Segment Highlights

PCF Isolation Segment (IST) v2.4 includes the following major feature:

None yet.
