---
title: PCF v2.4 Feature Highlights
---


This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v2.4.




## <a id='om'></a> PCF Operations Manager (Ops Manager) Highlights

Ops Manager v2.4 includes the following major features:

None yet.




---

## <a id='ert'></a> Pivotal Application Service (PAS) Highlights

PAS v2.4 includes the following major features:

### <a id="log-api"></a> Loggregator v2 API is Readable Through RLP Gateway

As a nozzle developer, you can access the Loggregator v2 API through a Reverse Log Proxy (RLP) gateway. You
do not need to manage mutual TLS to access the v2 API.

The Loggregator v2 API supports additional features, including selector-based subscription
models. For more information about that feature, see [Selector-Based Subscripton Model and
Reference
Nozzles](https://docs.pivotal.io/pivotalcf/2-2/pcf-release-notes/runtime-rn.html#selector-based)
in the PAS v2.2 release notes.



---

## <a id='pas-windows'></a> PAS for Windows Highlights

PAS for Windows v2.4 includes the following major features:

None yet.




---

## <a id='apps-man'></a> Apps Manager Highlights

Apps Manager v2.4 includes the following major feature:

### <a id="global-search"></a> Global Search in Apps Manager

Apps Manager has a global searchbar persistent on every Apps Manager page. With the global
searchbar, you can search org name, space name, service instance name, and app names without
leaving the page.


### <a id="restage-apps"></a> Restage Apps in Apps Manager

Apps Manager includes a restage button. The button is in addition to the stop and
start buttons on the app management page. Restaging your application stops your
app and restages it by compiling a new droplet and starting it.

For more information about the restage button in the Apps Manager UI, see [Start, Stop, or Restage an App
](https://docs.pivotal.io/pivotalcf/2-4/console/manage-apps.html#start-stop).


### <a id="share-service-instance"></a> Share Service Instances in Apps Manager

You can share service
instances across the spaces you specify. With Space Developer permissions, you
can view, add, and remove service instance sharing.

For more information, see [Service Instance Sharing](../console/manage-apps.html#shared-instances).

---

## <a id='bbr'></a> BOSH Backup and Restore Highlights

BOSH Backup and Restore (BBR) in PAS v2.4 includes the following major features:

None yet.




---

## <a id='loggregator'></a> Loggregator Highlights

Loggregator v2.4 includes the following major feature:

None yet.




---

## <a id='pcf-is'></a> PCF Isolation Segment Highlights

PCF Isolation Segment (IST) v2.4 includes the following major feature:

None yet.
