---
title: PCF v2.4 Feature Highlights
---


This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v2.4.




## <a id='om'></a> PCF Operations Manager (Ops Manager) Highlights

Ops Manager v2.4 includes the following major features:

None yet.




---

## <a id='ert'></a> Pivotal Application Service (PAS) Highlights

PAS v2.4 includes the following major features:

None yet.




---

## <a id='pas-windows'></a> PAS for Windows Highlights

PAS for Windows v2.4 includes the following major features:

None yet.




---

## <a id='apps-man'></a> Apps Manager Highlights

Apps Manager v2.4 includes the following major feature:

None yet.




---

## <a id='bbr'></a> BOSH Backup and Restore Highlights

BOSH Backup and Restore (BBR) in PAS v2.4 includes the following major features:

None yet.




---

## <a id='loggregator'></a> Loggregator Highlights

Loggregator v2.4 includes the following major feature:

None yet.




---

## <a id='pcf-is'></a> PCF Isolation Segment Highlights

PCF Isolation Segment (IST) v2.4 includes the following major feature:

None yet.
