---
title: PCF v2.2 Feature Highlights
---

<html class="list-style-none"></html>

This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v2.2.


## <a id='om'></a> Ops Manager Highlights

Ops Manager v2.2 includes the following major features:



---

## <a id='ert'></a> Pivotal Application Service (PAS) Highlights

No new highlights.

---

## <a id='apps-man'></a> Apps Manager Highlights

No new highlights.

---

## <a id='pcf-is'></a> PCF Isolation Segment Highlights

No new highlights.

