---
title: PCF v2.1 Feature Highlights
---

<html class="list-style-none"></html>

This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v2.1.


## <a id='om'></a> Ops Manager Highlights

Ops Manager v2.1 includes the following major features:

### <a id="multiple-logins"></a> Multiple Read-Only Users Can Be Logged in Simultaneously

Ops Manager users with **Full View** and **Restricted View** permissions can be logged in simultaneously. Previous to this change, only one user at a time could view Ops Manager.

### <a id="gcs-blobstore"></a> GCS Blobstore Available for External File Storage

You now have the option to select a Google Cloud Storage (GCS) blobstore as your external file storage when you configure Ops Manager for Google Cloud Platform (GCP).

### <a id="custom-banner"></a> Custom Banner Available for Web Apps and Ops Manager

From the Ops Manager settings, you can now add a custom banner to communicate important messages to operators. You can create a banner that appears on each page of the Ops Manager UI or write text that appears to each operator who shells into Ops Manager. For more information about navigating Ops Manager settings, see [Settings Page](../customizing/pcf-interface.html#settings).

### <a id="custom-kms"></a> Add Custom Encryption Key to AWS Installation

For Ops Manager for AWS, operators can specify a custom Key Management Service (KMS) encryption key to encrypt all the Elastic Block Store (EBS) volumes in AWS. For more information, see [Configuring Amazon EBS Encryption](../customizing/cloudform-om-ebs-config.html). 

---

## <a id='ert'></a> Pivotal Application Service (PAS) Highlights


---

## <a id='apps-man'></a> Apps Manager Highlights


---

## <a id='pcf-is'></a> PCF Isolation Segment Highlights

---

## <a id='services'></a> Services Highlights

