---
title: PCF v2.1 Feature Highlights
---

<html class="list-style-none"></html>

This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v2.1.


## <a id='om'></a> Ops Manager Highlights

Ops Manager v2.1 includes the following major features:

### <a id="gcs-blobstore"></a> GCS Blobstore Available for External File Storage

You now have the option to select a Google Cloud Storage (GCS) blobstore as your external file storage when you configure Ops Manager for Google Cloud Platform (GCP).

---

## <a id='ert'></a> Pivotal Application Service (PAS) Highlights


---

## <a id='apps-man'></a> Apps Manager Highlights


---

## <a id='pcf-is'></a> PCF Isolation Segment Highlights

---

## <a id='services'></a> Services Highlights

