---
title: PCF v2.3 Feature Highlights
---

<html class="list-style-none"></html>

This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v2.3.


## <a id='om'></a> PCF Operations Manager (Ops Manager) Highlights

Ops Manager v2.3 includes the following major features:

### <a id="review-pending-changes"></a> UI Improvements to Review Pending Changes 

The _Review Pending Changes_ page in the Ops Manager installation dashboard features improved UI. The page UI is designed to make selective deployment more intuitive.

For more information about the page UI, see [Review Pending Changes Page](https://docs.pivotal.io/pivotalcf/2-3/customizing/review-pending-changes.html#review-pending-changes).

---

## <a id='ert'></a> Pivotal Application Service (PAS) Highlights

None at this time.

---

## <a id='apps-man'></a> Apps Manager Highlights

None at this time.

---

## <a id='pcf-is'></a> PCF Isolation Segment Highlights

None at this time.