---
title: PCF v2.0 Feature Highlights
---

<html class="list-style-none"></html>

This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v2.0.

## <a id='om'></a>Ops Manager Highlights

Ops Manager v2.0 includes the following major features:

### <a id='rbac'></a>RBAC Support

Ops Manager 2.0 introduces support for role-based access control (RBAC).

![Ops Manager user roles diagram](images/roles-diagram.png)

You can assign the following roles to determine which operators in your organization make deployment changes, view credentials, and manage user roles in Ops Manager:

* **Ops Manager Administrator**: full control over all Ops Manager configuration and settings, including assigning user roles and managing authentication.
* **Full Control**: write access to Ops Manager, including credentials.
* **Restricted Control**: write access to Ops Manager with no access to credentials.
* **Full View**: read-only access to Ops Manager UI and API endpoints, including credentials.
* **Restricted View**: read-only access to Ops Manager UI and API endpoints with no access to credentials.

See [Configuring Role-Based Access Control (RBAC) in Ops Manager](../opsguide/config-rbac.html) for more information.

### <a id='ssh-banner'></a>Custom Director Login Banner

In Ops Manager 2.0, operators can set a custom banner that every user sees when they log in to the Ops Manager BOSH Director.
To set the banner, edit the **Custom SSH Banner** field in the **Director Config** page of the Ops Manager tile.

See the Director configuration topic for your IaaS for more information.
For example, see [Configuring Ops Manager on GCP](../customizing/gcp-om-config.html#director-config).

### <a id='azure-stack'></a>Azure Stack Support (Beta)

Operators can deploy Ops Manager 2.0 to Microsoft Azure in their own local datacenter using Azure Stack.

See [Launching an Ops Manager Director Instance on Azure without an ARM Template](../customizing/azure-om-deploy.html) for more information.

### <a id='nsx'></a>VMware NSX-T Networking Support

Ops Manager 2.0.0 adds support for VMware NSX-T networking.
NSX is a networking solution for VMware that provides a firewall, load balancing, and NAT/SNAT services for PCF.
NSX-T is a new version of NSX-V, which was supported in previous versions of Ops Manager.

When you upgrade from a previous version of Ops Manager with NSX networking enabled, Ops Manager defaults to NSX-V networking.
You can enable NSX-T networking by selecting **NSX-T** in the new **NSX Mode** dropdown menu of the **vCenter Config** pane.

See [Configuring Ops Manager on vSphere](../customizing/vsphere-config.html#vcenter-config) and [vSphere Reference Architecture](../refarch/vsphere/vsphere_ref_arch.html#base-arch) for more information.

---

## <a id='ert'></a>Pivotal Application Service (PAS) Highlights

<!-- PAS includes the following major features: -->


---

## <a id='apps-man'></a>Apps Manager Highlights

<!-- Apps Manager includes the following features: -->

---

## <a id='pcf-is'></a>PCF Isolation Segment Highlights

<!-- The PCF Isolation Segment tile includes the following features: -->

---

## <a id='pcf-windows'></a>PAS for Windows Highlights

<!-- The PAS for Windows tile includes the following features: -->


---

## <a id='services'></a>Services Highlights
