---
title: PCF v2.0 Feature Highlights
---

<html class="list-style-none"></html>

This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v2.0.

## <a id='om'></a>Ops Manager Highlights

Ops Manager v2.0 includes the following major features:

### <a id='rbac'></a>RBAC Support

Ops Manager 2.0 introduces support for role-based access control (RBAC). You can assign the Write Minus Credentials, Write Plus Credentials, or Ops Manager Administrator roles to determine which operators in your organization make deployment changes, view credentials, and manage user roles in Ops Manager.

See [Configuring Role-Based Access Control (RBAC) in Ops Manager](../opsguide/config-rbac.html) for more information.

---

## <a id='ert'></a>Pivotal Application Service (PAS) Highlights

<!-- PAS includes the following major features: -->


---

## <a id='apps-man'></a>Apps Manager Highlights

<!-- Apps Manager includes the following features: -->

---

## <a id='pcf-is'></a>PCF Isolation Segment Highlights

<!-- The PCF Isolation Segment tile includes the following features: -->

---

## <a id='pcf-windows'></a>PAS for Windows Highlights

<!-- The PAS for Windows tile includes the following features: -->


---

## <a id='services'></a>Services Highlights
