---
title: PCF v2.1 Feature Highlights
---

<html class="list-style-none"></html>

This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v2.1.


## <a id='om'></a> Ops Manager Highlights

Ops Manager v2.1 includes the following major features:

### <a id="credhub-hsm"></a> Configure an External CredHub Encyption Provider

You now have the option to select an external **CredHub Encryption Provider** to store your encryption keys in a secure hardware module. For Ops Manager v2.1, you only have the option to select Luna Hardware Security Module (HSM) as an external provider.

For more information on configuring your CredHub encryption provider, see [Director Config Page](http://docs-pcf-staging.cfapps.io/pivotalcf/2-1/customizing/gcp-om-config.html#director-config).

### <a id="multiple-logins"></a> Multiple Read-Only Users Can Be Logged in Simultaneously

Ops Manager users with **Full View** and **Restricted View** permissions can be logged in simultaneously. Previous to this change, only one user at a time could view Ops Manager.

### <a id="gcs-blobstore"></a> GCS Blobstore Available for External File Storage

You now have the option to select a Google Cloud Storage (GCS) blobstore as your external file storage.

### <a id="custom-vm-extensions"></a> Create Custom VM Extensions

You can create and manage custom VM extensions through the Ops Manager API. Custom VM extensions allow you to assign a group of IaaS-specific properties to jobs. For more information on custom VM extensions, see [Managing Custom VM Extensions](../../2-1/customizing/custom-vm-extensions.html).

### <a id="custom-banner"></a> Custom Banner Available for Web Apps and Ops Manager

From the Ops Manager settings, you can now add a custom banner to communicate important messages to operators. You can create a banner that appears on each page of the Ops Manager UI or write text that appears to each operator who shells into Ops Manager. For more information about navigating Ops Manager settings, see [Settings Page](../customizing/pcf-interface.html#settings).

### <a id="custom-kms"></a> Add Custom Encryption Key to AWS Installation

For Ops Manager for AWS, operators can specify a custom Key Management Service (KMS) encryption key to encrypt all the Elastic Block Store (EBS) volumes in AWS. For more information, see [Configuring Amazon EBS Encryption](../../2-1/customizing/cloudform-om-ebs-config.html). 

### <a id="azure-application-gateway"></a> Integrate Azure Application Gateway Load Balancers

You can associate an Azure Application Gateway as your load balancer within an Azure configuration. The Azure Application Gateway offers layer 7 load balancing capabilities, which include a web application firewall and end-to-end SSL encryption.

To learn more about Azure Application Gateway, see [Overview of Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-introduction) in the Azure documentation.

To learn more about configuring your load balancer for Azure, see the [Resource Config Page](../customizing/azure-om-config.html#resource-config) section in the *Configuring Ops Manager on Azure* topic.

### <a id="multiple-clusters"></a> Add Multiple Clusters to Availability Zones

You can now add multiple clusters to a vSphere Availability Zone (AZ). For more information on configuring AZs for your vSphere installation, see [Create Availability Zone Page](../../2-1/customizing/vsphere-config.html#create-az) in the _Configuring Ops Manager on vSphere_ topic.

---

## <a id='ert'></a> Pivotal Application Service (PAS) Highlights

### <a id='blobstore-authentication'></a> Support for AWS IAM Instance Profiles

Operators can now configure PAS to use AWS IAM Instance Profiles for S3 authentication.

### <a id='blobstore-encryption'></a> Support for S3 Server-Side Encryption with AWS KMS

Operators can now configure PAS to use server-side encryption with AWS Key Management Service (KMS) for S3 blobstore.

### <a id='route-consistency'></a> Improved Resiliency and Consistency for App Routes

Gorouter now uses TLS to verify app identity by default.
For more information about how Gorouter uses app instance validation to keep its routing table current,
see [Routing to App Instances](https://docs.pivotal.io/pivotalcf/2-1/concepts/http-routing.html#apps).

### <a id='hsts-haproxy'></a> HSTS Support for HAProxy

You can now enable HTTP Strict Transport Security (HSTS) for HAProxy.

### <a id='container-metrics'></a> Container Metrics Included in Syslog Drains

Container metrics can now be delivered in create-user-provided-service (CUPS) Syslog Drain bindings.

---

## <a id='apps-man'></a> Apps Manager Highlights

### <a id='json'></a> Support for JSON in the UI

You can now use JSON for key-value entries in the Apps Manager UI.

### <a id='view-processes'></a> View and Scale Processes in Apps Manager

You can now view and scale processes in the Apps Manager UI.

---

## <a id='pcf-is'></a> PCF Isolation Segment Highlights

### <a id='route-consistency'></a> Improved Resiliency and Consistency for App Routes

Gorouter now uses TLS to verify app identity by default.
For more information about how Gorouter uses app instance validation to keep its routing table current,
see [Routing to App Instances](https://docs.pivotal.io/pivotalcf/2-1/concepts/http-routing.html#apps).

### <a id='hsts-haproxy'></a> HSTS Support for HAProxy

You can now enable HTTP Strict Transport Security (HSTS) for HAProxy.

---

## <a id='services'></a> Services Highlights

