---
title: PCF v2.3 Feature Highlights
---

<html class="list-style-none"></html>

This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v2.3.


## <a id='om'></a> PCF Operations Manager (Ops Manager) Highlights

Ops Manager v2.3 includes the following major features:

### <a id="review-pending-changes"></a> UI Improvements to Review Pending Changes 

The _Review Pending Changes_ page in the Ops Manager installation dashboard features improved UI. The page UI is designed to make selective deployment more intuitive.

For more information about the page UI, see [Review Pending Changes Page](https://docs.pivotal.io/pivotalcf/2-3/customizing/review-pending-changes.html#review-pending-changes).

---

## <a id='ert'></a> Pivotal Application Service (PAS) Highlights

None at this time.

---

## <a id='pas-windows'></a> PAS for Windows Highlights

PAS for Windows v2.3 includes the following major features:

### <a id='multi-buildpacks'></a>Support for Multiple Buildpacks

PAS for Windows v2.3 introduces support for pushing a .NET app with multiple buildpacks.
This feature simplifies dependency management for .NET developers and increases compatibility with partner tiles.

For more information, see [Pushing an Application with Multiple Buildpacks](../buildpacks/use-multiple-buildpacks.html).

### <a id='ephemeral-disk'></a>Ephemeral Disk Configuration Options

Operators can now use ephemeral disk configuration options for Windows Server cells.

### <a id='compression'></a>HTTP Compression in the HWC Buildpack

.NET app developers can improve their application’s network performance with the new HTTP compression capabilities in the HWC buildpack.
PAS for Windows v2.3 enables the HTTP compression module from Internet Information Services (IIS), which enables gzip compression for static assets and dynamic content in the HWC buildpack.

### <a id='windows-v1803'></a>Windows Server version 1803

PAS for Windows v2.3 includes the latest version of Windows Server (version 1803).
Windows Server version 1803 is the second release in Microsoft's Semi-Annual Channel, which uses a faster release cadence and a shorter support life cycle than the more traditional Long-Term Servicing Channel.
The Semi-Annual Channel is designed to support containers and micro-services.

The container image for Windows Server version 1803 is 30% smaller than the previous release (version 1709), reducing the memory footprint required for .NET apps.
The release also includes optimizations for containers, improved compatibility, and enhanced debugging tools.

For more information, see [What's New in Windows Server version 1803](https://docs.microsoft.com/en-us/windows-server/get-started/whats-new-in-windows-server-1803) in the Microsoft documentation.

---

## <a id='apps-man'></a> Apps Manager Highlights

None at this time.

---

## <a id='pcf-is'></a> PCF Isolation Segment Highlights

None at this time.