---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Installing Pivotal Cloud Foundry
owner: Ops Manager
---

<p class="note"><strong>Note</strong>: Pivotal Cloud Foundry (PCF) for vCloud Air and vCloud Director is deprecated and availability is restricted to existing customers. Contact <a href="https://pivotal.io/support">Support</a> for more information.</p>

Welcome to [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf)!

The following IaaS-specific guides are intended to walk you through the process of getting your Pivotal Cloud Foundry (PCF) deployment up and running.

<p class="note">Check out the 15-minute <a href="https://pivotal.io/platform/pcf-tutorials/getting-started-with-pivotal-cloud-foundry/" target="_blank">Getting Started with PCF</a> tutorial for learning Pivotal Cloud Foundry app deployment concepts.</p>

If you experience a problem while following the steps below, refer to the [Known Issues](../pcf-release-notes/index.html), or to the [PCF Troubleshooting Guide](../customizing/troubleshooting.html).

Once you have completed the steps in this guide, explore the documentation on
[docs.pivotal.io](http://docs.pivotal.io) to learn more about [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) and the Pivotal product suite.

## <a id='prepare'></a>Prepare for Installation:

* <a href="../customizing/requirements.html" class="subnav">Prerequisites to Deploying Operations Manager and Elastic Runtime</a>
* <a href="../customizing/config_firewall.html" class="subnav">Preparing Your Firewall for Deploying Pivotal Cloud Foundry</a>

## <a id='install'></a>Install Pivotal Cloud Foundry:

* <a href="../customizing/cloudform.html" class="subnav">Installing Pivotal Cloud Foundry on AWS</a>
* <a href="../customizing/openstack.html" class="subnav">Installing Pivotal Cloud Foundry on OpenStack</a>
* <a href="../customizing/vsphere.html" class="subnav">Installing Pivotal Cloud Foundry on vSphere and vCloud Air</a>
