---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Installing Pivotal Cloud Foundry
owner: Ops Manager
---

<p class="note"><strong>Note</strong>: Pivotal Cloud Foundry (PCF) uses SHA-2 certificates and hashes by default. You can convert existing SHA-1 hashes into SHA-2 hashes by rotating your Ops Manager certificates using the procedure described in <a href="../security/pcf-infrastructure/api-cert-rotation.html">Regenerating and Rotating Non-Configurable TLS/SSL Certificates</a>.</p>

Welcome to [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf)!

The following IaaS-specific guides are intended to walk you through the process of getting your Pivotal Cloud Foundry (PCF) deployment up and running.

<p class="note">Check out the 15-minute <a href="https://pivotal.io/platform/pcf-tutorials/getting-started-with-pivotal-cloud-foundry/" target="_blank">Getting Started with PCF</a> tutorial for learning Pivotal Cloud Foundry app deployment concepts.</p>


If you experience a problem while following the steps below, review [Known Issues](../pcf-release-notes/index.html), or refer to the [PCF Troubleshooting Guide](../customizing/troubleshooting.html).

Once you have completed the steps in this guide, explore the documentation on
[docs.pivotal.io](http://docs.pivotal.io) to learn more about [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) and the Pivotal product suite.

## <a id='prepare'></a>Prepare for Installation:

* <a href="../customizing/config_firewall.html" class="subnav">Preparing Your Firewall for Deploying Pivotal Cloud Foundry</a>
* <a href="../customizing/iaas-user-roles.html" class="subnav">Pivotal Cloud Foundry IaaS User Role Guidelines</a>

## <a id='install'></a>Install Pivotal Cloud Foundry:

<p class="note"><strong>Note</strong>: If you intend to install PCF with the Small Footprint Runtime tile, see <a href="../customizing/small-footprint">Getting Started with Small Footprint Runtime</a>.</p>

* <a href="../customizing/aws.html" class="subnav">Installing Pivotal Cloud Foundry on AWS</a>
* <a href="../customizing/azure.html" class="subnav">Installing Pivotal Cloud Foundry on Azure</a>
* <a href="../customizing/gcp.html" class="subnav">Installing Pivotal Cloud Foundry on GCP</a>
* <a href="../customizing/openstack.html" class="subnav">Installing Pivotal Cloud Foundry on OpenStack</a>
* <a href="../customizing/vsphere.html" class="subnav">Installing Pivotal Cloud Foundry on vSphere</a>

## <a id='install'></a>Install PCF Isolation Segment:

* <a href="/pivotalcf/1-12/customizing/installing-pcf-is.html">Installing PCF Isolation Segment</a>

