---
breadcrumb: Pivotal Cloud Foundry&reg; Documentation
title: Installing Pivotal Cloud Foundry&reg;
owner: Ops Manager
---

Welcome to [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf)!

The following IaaS-specific guides are intended to walk you through the process of getting your Pivotal Cloud Foundry&reg; (PCF) deployment up and running.

<p class="note">Check out the 15-minute <a href="https://pivotal.io/platform/pcf-tutorials/getting-started-with-pivotal-cloud-foundry/" target="_blank">Getting Started with PCF</a> tutorial for learning Pivotal Cloud Foundry app deployment concepts.</p>

If you experience a problem while following the steps below, refer to the [Known Issues](../pcf-release-notes/index.html), or to the [PCF Troubleshooting Guide](../customizing/troubleshooting.html).

Once you have completed the steps in this guide, explore the documentation on
[docs.pivotal.io](http://docs.pivotal.io) to learn more about [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) and the Pivotal product suite.

## <a id='prepare'></a>Prepare for Installation:

* <a href="../customizing/requirements.html" class="subnav">Prerequisites to Deploying Operations Manager and Elastic Runtime</a>
* <a href="../customizing/config_firewall.html" class="subnav">Preparing Your Firewall for Deploying Pivotal Cloud Foundry&reg;</a>

## <a id='install'></a>Install Pivotal Cloud Foundry&reg;:

* <a href="../customizing/cloudform.html" class="subnav">Installing Pivotal Cloud Foundry&reg; on AWS</a>
* <a href="../customizing/openstack.html" class="subnav">Installing Pivotal Cloud Foundry&reg; on OpenStack</a>
* <a href="../customizing/vsphere.html" class="subnav">Installing Pivotal Cloud Foundry&reg; on vSphere and vCloud Air</a>
