---
title: Pivotal Cloud Foundry Documentation
owner: Ops Manager
---

Welcome to Pivotal Cloud Foundry Documentation!

Pivotal Cloud Foundry (PCF) is a cloud-native platform for deploying and operating apps. Some people install and run the platform, others develop apps on it, and others manage the development teams or make sure that the platform is secure.

The guides linked below explain how you can do what you want with Pivotal Cloud Foundry (PCF) based on your role. Or see [Getting Started with PCF](../concepts/overview.html) for a general introduction to PCF and how it works.

## PCF Guides

<table id='guides' border="1" class="nice" >
  <tr>
    <th>I want to...</th>
    <th>...which means my role is...</th>
    <th>...so I should see...</th>
  </tr><tr>
    <td>Read about PCF and its main features and try a simple deployment on my own local machine</td>
    <td>New User</td>
    <td><a href="../concepts/overview.html">Getting Started with PCF</a></td>
  </tr><tr>
    <td>Assess PCF, plan a PCF deployment, install and configure a new PCF deployment</td>
    <td>Architect</td>
    <td><a href="../installing/index.html">PCF Architecture and Installation Guide</a></td>
  </tr><tr>
    <td>Upgrade, monitor, back up, troubleshoot, and generally maintain an existing PCF deployment</td>
    <td>Operator</td>
    <td><a href="../opsguide/index.html">PCF Operator Guide</a></td>
  </tr><tr>
    <td>Build applications that I can deploy, manage, and scale using the PCF platform.</td>
    <td>Developer</td>
    <td><a href="../devguide/index.html">PCF Developer Guide</a></td>
  </tr><tr>
    <td>Make sure that my enterprise’s PCF installation is secure and up-to-date with the latest security best practices.</td>
    <td>Security Professional</td>
    <td><a href="../security/index.html">PCF Security Guide</a></td>
  </tr><tr>
    <td>Manage Pivotal Application Service (PAS) users, orgs, and spaces.</td>
    <td>PAS Org, Space, and Billing Managers</td>
    <td><a href="../adminguide/index.html">Managing PAS Orgs and Spaces</a></td>
  </tr><tr>
    <td>Build a “tile” that lets PCF developers use my software services in their apps.</td>
    <td>PCF Tile Developer</td>
    <td><a href="http://docs.pivotal.io/tiledev">PCF Tile Developers Guide</a></td>
  </tr>
</table>




